* {
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100vh;
}
body {
  margin-bottom: 8rem;
}
footer {
  position: absolute;
  bottom: 0;
  background-color: hsl(210, 100%, 75%);
  height: 8rem;
  width: 100vw;
  text-align: center;
  display: table;
  padding: 1rem;
  font-family: 'Arial', sans-serif;
  font-size: .875rem;
}
.vertical-middle {
  display: table-cell;
  vertical-align: middle;
}
footer small {
  color: #222;
  letter-spacing: .025rem;
  margin-bottom: 1.5rem;
  display: block;
}

nav a {
  text-decoration: none;
  color: #c74f78;
  margin: 0 .5rem;
  display: inline-block;
  transition: color .3s ease-in-out;
}
strong {
  font-weight: 700;
}
nav a:hover {
  color: #fff;
}
